body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'Buffalo';
  src: local(Buffalo-Regular), url(./fonts/buffalo-regular-webfont.ttf);
}

@font-face {
  font-family: 'Lato';
  src: local(Lato-Regular), url(./fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: 'Merriweather';
  src: local(Merriweather-Bold), url(./fonts/Merriweather-Bold.ttf);
}

@font-face {
  font-family: 'Lato-Light';
  src: local(Lato-Light), url(./fonts/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato-Bold';
  src: local(Lato-Bold), url(./fonts/Lato-Bold.ttf);
}